.social-login
    button.social-login__github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            |&nbsp;Continue with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook
        |&nbsp;Continue with Facebook
