body {
  font-family: sans-serif;
}

span {
  color: white;
  font-size: 12px;
}

i {
  font-size: 16px;
  margin: 0 10px;
}

#jsVideoPlayer {
  position: relative;
}

.video__controls {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.progress-bar {
  width: 420px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.progress-bar #progress-now {
  height: 100%;
  width: 0;
  background-color: rgb(218, 255, 83);
}

input.video__volume {
  position: absolute;
  right: -16px;
  bottom: 50px;
  width: 100px;
  height: 5px;
  padding: 10px 0px;
  transform: rotate(270deg);
  opacity: 0;
  transition: opacity 0.5s ease;
  box-shadow: none;
}

.video__volumeBtn:hover ~ input.video__volume,
input.video__volume:hover {
  opacity: 1;
}

input.video__volume {
  background-color: red;
}
